{% extends 'shared/layout.html' %}

{% block maincontent %}
<main class="Main-Text"> 
    <h1 id="purpose"> This page is for showcasing my projects!</h1>

    <hr class="line line-style">
    <div class="about">
        <div class="personal-photo">
            <a class="link" href="/piano"> <img id="personal-pic" src="static/main/images/piano.jpeg"  alt="Piano Image" loading="lazy"> </a>
        </div>
        <div class="personal-description">
            
            <p > Along with building this website for Homework 1, I was also tasked with creating a Piano using HTML,CSS, and JavaScript. This piano contains 17 keys which include 10 white keys and 7 white keys which all have a letter on them that will all appear once you hover over any key. To play the piano press the lettered keys on your keyboard that are associated with the keys on the piano. If you play the sequence of keys "weseeyou" then you will awaken the old one and the piano will disappear and no longer work.  To access my piano, you can either click on this <a href="/piano" id="plink"> piano link </a> or you can click on the piano picture to the left</p>
        </div>
    </div>

    
</main>


{% endblock %}
