#bottom-footer {
    background-color: #f5f5dc;
    text-justify: justify;
    text-align: center;
    margin-top: auto;
    padding-top: 1%;

    position: fixed;
    width: 100%; 
    left: 0px;
    bottom: 0px;

}