.Main-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;



}

.about {
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    width: 50vw;
    gap: 20px;

}

.personal-photo, .personal-description {
    flex: 1;
    max-width: 100%;
    max-height: auto;

}

.personal-description {
    overflow-y: scroll;
    width: 100%;
    height: auto;


}

#personal-pic {
    width: 100%;
    height: auto;
}

.fun-fact {
    width: 100%;
    text-align: center;
    text-justify: center;
    margin-top: 20;

}

@media screen and (max-width: 650px) {

    .about {
    
        overflow-y: visible;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-justify: center;
        height: 50vh;
        gap: 20px;


    }

    .fun-fact {
        text-align: center;
        text-justify: center;
        margin-top: 20;
        width: 80vh;
    }

    .Main-Text {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        

    }

    .personal-photo, .personal-description {
        flex: 1;
        max-width: 100%;
        max-height: auto;
    
    }
    

    
}