.navbar {
    background-color: #000000;
    margin: 0%;
    width: 100vw;
    height: 8vh;
    padding: 0%;
    margin: 0%;

}


.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    color: #FFFFFF;
    width: 100vw;
    height: 8vh;
    
     
}

#homework {
    padding-left: 5%;
    margin-right: auto;
    margin-left: 1%;
    
}

.navitems {
    margin: 1%;

}

.link {
    color: #FFFFFF;
    text-decoration: none;
    height: 4vh;

}

.link:hover {
    opacity: 0.5; 
}

#LinkedIn {
    height: 4vh;
    width: auto; 

}
 #menubar {
    border: none;
    display: none;
}

#MenuImage {
    height: 4vh;
    max-width: 100%;
    background-color: none;

} 

#linkedinText {
    display: none;
}

#menu-overlay {
    background-color: #282828;
    height: 100vh;
    width: 100vw;


    position: fixed;
    margin-top: -5%;
    display: none;
}

#menu-appear {
    background-color: #282828;
    height: 100vh;
    width: 100vw;


    position: fixed;
    margin-top: -5%;
    display: block;

}

#menu-nav {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    list-style-type: none;

    width: 100%; 
}

.menuitem {

    margin-bottom: 5%;
    margin-left: 2%;
    margin-top: 2%;
}

@media screen and (max-width: 650px) {
    .navitems {
        display: none;
    }
    #menubar {
        display: block;
        padding-right: 1%;
    }
    
}
