.BoardView-Structure {
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 2vh;
    width: 50%;
    height: 50vh;
    margin: 0 auto;
  }
  
  .BoardView-design {
    background-color: #3b3b3b;
  }
  
  #board-creation-text {
    color: #FFF;
    margin: 0;
    font-size: x-large;
  }
  
  .board-listing-structure {
    margin: 2%;
  }
  
  .board-listing-design {
    text-decoration: none;
    color: #fff;
    font-size: x-large;
  }
  
  .board-view-container-structure {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }

  .board-view-container-design {
    background-color: #ADD8E6;
    border-radius: 2%;
  }

  .Not-allowed {
    color: #fff;
  }