/* Structure for page */
.board-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    height: 100vh;
    padding: 2vw;
    border-radius: 1vw;
    gap: 2vw;
    width: 100%;
    max-width: 90vw;
    height: 80vh;

}
/* Design of board */
.board-design {
    background-color: #3b3b3b;
}
/* Design for column title */
.Column-Title {
    color: #fff;
}
/* Structure of column */
.ToDo-Structure,
.Doing-Structure,
.Completed-Structure {
    flex: 1 1 0; 

    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 2%;

}
/* Design for column */
.ToDo-Design,
.Doing-Design,
.Completed-Design {
    border: solid #fff 0.5em;
}
/* Structure of card list in each column */
.Card-List-Structure {
    overflow-y: auto;
    margin: 3%;
    flex-grow: 1;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}
/* Design of card list in each column */
.Card-List-Design {
    background-color: aliceblue;
}
/* Card structure */
.Card-Structure {
    padding: 1vw;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
    margin: 3%;
    display: flex;
    flex-direction: column;
    max-height: 30%;
    min-height: 30%;
}
/* Card design */
.Card-Design {
    background-color: #fff;

}
/* Structure for button to add card */
.add-card-structure {
    margin-top: auto; 
    padding: 0.5vw 1vw;
    font-size: 1vw;
    margin: 3%;
    border-radius: 50vh;
}
/* Design of button to add card */
.add-card-design {
    background-color: #ADD8E6; 
    color: #FFF; 
}
/* Hover effect for button */
.add-card-design:hover {
    background-color: #203354; 
}
/* Used to hide popups */
.invisible {
    display: none;
}
/* Structure for card creation popup */
.Card-Creation-Structure {
    z-index: 20;
    
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
    height: 50%;
    justify-content: space-between;
    border-radius: 0.5vw;
}

/* Design for card creation popup */
.Card-Creation-Design {
    background-color: #ADD8E6;
    border: solid #3b3b3b 0.5em;

}

/* Structure of submit button for card creation */
.Card-Creation-Button-Structure {
    margin-top: auto; 
    padding: 0.5vw 1vw;
    font-size: 1vw;
    margin: 3%;
    border-radius: 50vh;
    
}

/* Design for submit button */
.Card-Creation-Button-Design {
    background-color: #3b3b3b; 
    color: #FFF; 
}

/* Structure for input of card name */
.card-name-input-structure {
    margin: 3%;
    border-radius: 3%;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    overflow-y: auto;

}

/* Structure for input of card body */
.card-body-textarea-structure {
    margin: 3%;
    border-radius: 3%;
    text-align: left;
    overflow-y: auto;
}
  

#New-Card-Body {
    flex-grow: 1;
}
/* Structure of Label of card creation */
.Card-Creation-Label-Structure {
    align-self: flex-start;
    padding-left: 5%;
}

/* Design of card label  */
.Card-Creation-Label-Design {
    color: #3b3b3b;
}

.Card-Creation-Header-Structure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin-bottom: 2%;
}

.Card-Creation-Header-Design {
    background-color: #3b3b3b;
    color: #fff;
}

.Card-Creation-Title {
    flex-grow: 1;
}

/* Structure of Button for closing card creation  */
.Close-Card-Creation-Structure {
    border-radius: 30%;
    border-color: #fff;
}

/* Design of Button for closing card creation */
.Close-Card-Creation-Design {
    background-color: #ADD8E6;
    color: #fff;
}


/* Structure of the body of card */
.Card-Body-Structure {
    flex-grow: 1;
    border: solid #3b3b3b 0.2em;
    overflow-y: auto;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;

}


/* Container to hold delete and edit buttons */
.Card-Button-Container {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}


/* Design for edit card */
.Edit-Button-Card-Design {
    background-color: #ADD8E6;
    padding: 1%;
    color: #fff;
    border-radius: 10%;
    border-color: #ADD8E6;
}


/* Design for delete button */
.Delete-Button-Card-Design {
    background-color: #ADD8E6;
    padding: 1%;
    color: #fff;
    border-radius: 10%;
    border-color: #ADD8E6;
}

#Edit-Card-Body {
    flex-grow: 1;
}

.page {
    display: flex;
    flex-direction: column;
}

/* Structure of chat button  */
.Chat-Button-Structure {
    margin-left: auto;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: -2%;
    padding: 0.5%;
}

/* Design of chat button */
.Chat-Button-Design {
    color: #fff;
    background-color: #3b3b3b;
    border-radius: 50vh;
}
/* Handles dragging */
.dragging {
    opacity: 0.5;
}
/* Handles dragging over column */
.dragover {
    opacity: 0.5;
}

/* Chat box styling */
#chat-box {
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    overflow-y:auto
  }
  