.board-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    height: 100vh;
    padding: 2vw;
    border-radius: 1vw;
    gap: 2vw;
    width: 100%;
    max-width: 90vw;
    height: 80vh;

}

.board-design {
    background-color: #3b3b3b;
}

.Column-Title {
    color: #fff;
}

.ToDo-Structure,
.Doing-Structure,
.Completed-Structure {
    flex: 1 1 0; 

    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 2%;

}

.ToDo-Design,
.Doing-Design,
.Completed-Design {
    border: solid #fff 0.5em;
}

.Card-List-Structure {
    overflow-y: auto;
    margin: 3%;
    flex-grow: 1;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}

.Card-List-Design {
    background-color: aliceblue;
}

.Card-Structure {
    padding: 1vw;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
    margin: 3%;
    display: flex;
    flex-direction: column;
    max-height: 30%;
    min-height: 30%;
}

.Card-Design {
    background-color: #fff;

}

.add-card-structure {
    margin-top: auto; 
    padding: 0.5vw 1vw;
    font-size: 1vw;
    margin: 3%;
    border-radius: 50vh;
}

.add-card-design {
    background-color: #ADD8E6; 
    color: #FFF; 
}

.add-card-design:hover {
    background-color: #203354; 
}

.invisible {
    display: none;
}
.Card-Creation-Structure {
    z-index: 20;
    
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
    height: 50%;
    justify-content: space-between;
    border-radius: 0.5vw;
}

.Card-Creation-Design {
    background-color: #ADD8E6;
    border: solid #3b3b3b 0.5em;

}

.Card-Creation-Button-Structure {
    margin-top: auto; 
    padding: 0.5vw 1vw;
    font-size: 1vw;
    margin: 3%;
    border-radius: 50vh;
    
}

.Card-Creation-Button-Design {
    background-color: #3b3b3b; 
    color: #FFF; 
}

.card-name-input-structure {
    margin: 3%;
    border-radius: 3%;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    overflow-y: auto;

}

.card-body-textarea-structure {
    margin: 3%;
    border-radius: 3%;
    text-align: left;
    overflow-y: auto;
}
  
.card-body-textarea-design {

}

.card-name-input-design {

}

#New-Card-Body {
    flex-grow: 1;
}

.Card-Creation-Label-Structure {
    align-self: flex-start;
    padding-left: 5%;
}

.Card-Creation-Label-Design {
    color: #3b3b3b;
}

.Card-Creation-Header-Structure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin-bottom: 2%;
}

.Card-Creation-Header-Design {
    background-color: #3b3b3b;
    color: #fff;
}

.Card-Creation-Title {
    flex-grow: 1;
}

.Close-Card-Creation-Structure {
    border-radius: 30%;
    border-color: #fff;
}

.Close-Card-Creation-Design {
    background-color: #ADD8E6;
    color: #fff;
}


.Card-Title-Structure {

}

.Card-Title-Design {

}

.Card-Body-Structure {
    flex-grow: 1;
    border: solid #3b3b3b 0.2em;
    overflow-y: auto;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;

}

.Card-Body-Design {

}

.Card-Button-Container {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.Edit-Button-Card-Structure {
}

.Edit-Button-Card-Design {
    background-color: #ADD8E6;
    padding: 1%;
    color: #fff;
    border-radius: 10%;
    border-color: #ADD8E6;
}


.Delete-Button-Card-Structure {
}

.Delete-Button-Card-Design {
    background-color: #ADD8E6;
    padding: 1%;
    color: #fff;
    border-radius: 10%;
    border-color: #ADD8E6;
}

#Edit-Card-Body {
    flex-grow: 1;
}

.page {
    display: flex;
    flex-direction: column;
}

.Chat-Button-Structure {
    margin-left: auto;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: -2%;
    padding: 0.5%;
}

.Chat-Button-Design {
    color: #fff;
    background-color: #3b3b3b;
    border-radius: 50vh;
}

.dragging {
    opacity: 0.5;
}
  
.dragover {
    opacity: 0.5;
}

#chat-box {
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    overflow-y:auto
  }
  