<!DOCTYPE html>

<html lang="en" id="page-html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <link rel="stylesheet" href="static/main/css/header.css" />
        <link rel="stylesheet" href="static/main/css/navbar.css" />
        <link rel="stylesheet" href="static/main/css/main.css" />
        <link rel="stylesheet" href="static/main/css/footer.css" />
        <link rel="stylesheet" href="static/piano/css/piano.css" />

        <title> Piano page </title>
    </head>
    <body id="page-body">

        <!-- Header -->
        <header>
            <img id="banner" src="static/main/images/banner.jpg" alt="Banner Image" loading="lazy"> 
        </header>

        
        <!-- Navbar -->
        <nav class="navbar-design navbar-structure">  
            <ul class="menu-nav-design menu-nav-structure">
                <li id="homework"> CSE 477 - Homework 1</li>
                <li class="navitems" id="home"><a class="link-style link-structure" href="home.html">Home</a></li>
                <li class="navitems" id="project"><a class="link-style link-structure" href="projects.html">Projects</a></li>
                <li class="navitems" id="resume"><a class="link-style link-structure" href="static/main/resume/Nitin_2024_Resume.pdf">Resume</a></li>
                <li class="navitems" id="linkedin"><a class="link-style link-structure" href="https://www.linkedin.com/in/nitin-polavarapu/"><img id="LinkedIn" src="static/main/images/social-linkedin.png" alt="LinkedIn Image" loading="lazy"> </a></li>

                <li class="navitems" id="menubar"><button type="button" class="MButton"> <img id="MenuImage" src="static/main/images/menu-bar.png" alt="MenuBar Image" loading="lazy"></button> </li>

                <li class="navitems" id="linkedinText"><a class="link" href="https://www.linkedin.com/in/nitin-polavarapu/"> LinkedIn</a></li>

            </ul>
            
            <!-- Menu page which appears when screen is less than 650px -->
            <div class="menu-overlay-style" id="menu-overlay">
                <nav>
                    <ul id="menu_nav">
                        <li class="menuitem"><a class="link-style link-structure" href="home.html">Home</a></li>
                        <li class="menuitem"><a class="link-style link-structure" href="projects.html">Projects</a></li>
                        <li class="menuitem"><a class="link-style link-structure" href="static/main/resume/Nitin_2024_Resume.pdf">Resume</a></li>
                        <li class="menuitem"> <a class="link-style link-structure" href="https://www.linkedin.com/in/nitin-polavarapu/">LinkedIn</a> </li>
                    </ul>
                    
                </nav>
            </div>

        </nav>

        <!-- Main body of piano -->
        <main class="Piano-Project"> 
            <div class="poem"> "Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you"</div>

            <div class="piano piano-style">

                <h1 class="piano-text piano-text-structure"> The Great Old One </h1>

                <!-- Keys of piano -->
                <div class="keys">
                    <div class="white-key white-key-style" id="A">  <div class="letter"> A </div> </div>
                    <div class="black-key black-key-style" id="W"> <div class="letter" id="black"> W </div> </div>
                    <div class="white-key white-key-style" id="S"> <div class="letter"> S </div> </div>
                    <div class="black-key black-key-style" id="E"> <div class="letter" id="black"> E </div> </div>
                    <div class="white-key white-key-style" id="D"> <div class="letter"> D </div> </div>
                    <div class="white-key white-key-style" id="F"> <div class="letter"> F </div> </div>
                    <div class="black-key black-key-style" id="T"> <div class="letter" id="black"> T </div> </div>
                    <div class="white-key white-key-style" id="G"> <div class="letter"> G </div> </div>
                    <div class="black-key black-key-style" id="Y"> <div class="letter" id="black"> Y </div> </div>
                    <div class="white-key white-key-style" id="H"> <div class="letter"> H </div> </div>
                    <div class="black-key black-key-style" id="U"> <div class="letter" id="black"> U </div> </div>
                    <div class="white-key white-key-style" id="J"> <div class="letter"> J </div> </div>
                    <div class="white-key white-key-style" id="K"> <div class="letter"> K </div> </div>
                    <div class="black-key black-key-style" id="O"> <div class="letter" id="black"> O </div> </div>
                    <div class="white-key white-key-style" id="L"> <div class="letter"> L </div> </div>
                    <div class="black-key black-key-style" id="P"> <div class="letter" id="black"> P </div> </div>
                    <div class="white-key white-key-style" id="semi"> <div class="letter"> ; </div> </div>
                </div>

            </div>

            <!-- Old one monster image and text -->
            <div class="image-and-text">
                <img class="old-one" src="static/piano/images/texture.jpeg" alt="old one" loading="lazy">
                <div class="Old-one-text Old-one-text-structure"> I have awoken </div>
            </div>

        </main>

        <!-- Footer -->
        <footer class="bottom-footer-style" id="bottom-footer"> © Nitin Polavarapu </footer>
        <script src="static/main/js/navbar.js"></script>
        <script src="static/piano/js/piano.js"></script>
    </body>
</html>
