<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <link rel="stylesheet" href="static/main/css/header.css" />
        <link rel="stylesheet" href="static/main/css/navbar.css" />
        <link rel="stylesheet" href="static/main/css/main.css" />
        <link rel="stylesheet" href="static/main/css/footer.css" />

        <title> Project page </title>
    </head>
    <body>
        <!-- Header -->
        <header>
            <img id="banner" src="static/main/images/banner.jpg" alt="Banner Image" loading="lazy"> 
        </header>

        <!-- Navbar -->
        <nav class="navbar-design navbar-structure">  
            <ul class="menu-nav-design menu-nav-structure">
                <li id="homework"> CSE 477 - Homework 1</li>
                <li class="navitems" id="home"><a class="link-style link-structure" href="home.html">Home</a></li>
                <li class="navitems" id="project"><a class="link-style link-structure" href="projects.html">Projects</a></li>
                <li class="navitems" id="resume"><a class="link-style link-structure" href="static/main/resume/Nitin_2024_Resume.pdf">Resume</a></li>
                <li class="navitems" id="linkedin"><a class="link-style link-structure" href="https://www.linkedin.com/in/nitin-polavarapu/"><img id="LinkedIn" src="static/main/images/social-linkedin.png" alt="LinkedIn Image" loading="lazy"> </a></li>

                <li class="navitems" id="menubar"><button type="button" class="MButton"> <img id="MenuImage" src="static/main/images/menu-bar.png" alt="MenuBar Image" loading="lazy"></button> </li>
                

            </ul>

            <!-- Used when screen is less than 650px -->
            <div id="menu-overlay" class="menu-overlay-style">
                <nav>
                    <ul id="menu_nav">
                        <li class="menuitem"><a class="link-style link-structure" href="home.html">Home</a></li>
                        <li class="menuitem"><a class="link-style link-structure" href="projects.html">Projects</a></li>
                        <li class="menuitem"><a class="link-style link-structure" href="static/main/resume/Nitin_2024_Resume.pdf">Resume</a></li>
                        <li class="menuitem"> <a class="link-style link-structure" href="https://www.linkedin.com/in/nitin-polavarapu/">LinkedIn</a> </li>
                    </ul>
                    
                </nav>
            </div>

        </nav>
        
        <!-- Main body of projects -->

        <main class="Main-Text"> 
            <h1 id="purpose"> This page is for showcasing my projects!</h1>

            <hr class="line line-style">
            <div class="about">
                <div class="personal-photo">
                    <a class="link"href="piano.html"> <img id="personal-pic" src="static/main/images/piano.jpeg"  alt="Piano Image" loading="lazy"> </a>
                </div>
                <div class="personal-description">
                    
                    <p > Along with building this website for Homework 1, I was also tasked with creating a Piano using HTML,CSS, and JavaScript. This piano contains 17 keys which include 10 white keys and 7 white keys which all have a letter on them that will all appear once you hover over any key. To play the piano press the lettered keys on your keyboard that are associated with the keys on the piano. If you play the sequence of keys "weseeyou" then you will awaken the old one and the piano will disappear and no longer work.  To access my piano, you can either click on this <a href="piano.html" id="plink"> piano link </a> or you can click on the piano picture to the left</p>
                </div>
            </div>

            
        </main>
        <!-- Footer  -->

        <footer class="bottom-footer-style" id="bottom-footer"> © Nitin Polavarapu </footer>
        <script src="static/main/js/navbar.js"></script>
    </body>
</html>
