<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <link rel="stylesheet" href="static/main/css/header.css" />
        <link rel="stylesheet" href="static/main/css/navbar.css" />
        <link rel="stylesheet" href="static/main/css/main.css" />
        <link rel="stylesheet" href="static/main/css/footer.css" />

        <title> Project page </title>
    </head>
    <body>
        <header>
            <img id="banner" src="static/main/images/banner.jpg" alt="Banner Image" loading="lazy"> 
        </header>
        <nav class="navbar">  
            <ul>
                <li id="homework"> CSE 477 - Homework 1</li>
                <li class="navitems" id="home"><a class="link" href="home.html">Home</a></li>
                <li class="navitems" id="project"><a class="link" href="projects.html">Projects</a></li>
                <li class="navitems" id="resume"><a class="link" href="static/main/resume/Nitin_2024_Resume.pdf">Resume</a></li>
                <li class="navitems" id="linkedin"><a class="link" href="https://www.linkedin.com/in/nitin-polavarapu/"><img id="LinkedIn" src="static/main/images/social-linkedin.png" alt="LinkedIn Image" loading="lazy"> </a></li>

                <li class="navitems" id="menubar"><button type="button" class="MButton"> <img id="MenuImage" src="static/main/images/menu-bar.png" alt="MenuBar Image" loading="lazy"></button> </li>

                <li class="navitems" id="linkedinText"><a class="link" href="https://www.linkedin.com/in/nitin-polavarapu/"> LinkedIn</a></li>

            </ul>

            <div id="menu-overlay" class="menu-overlay">
                <nav class="overlay-nav">
                    <ul id="menu-nav">
                        <li class="menuitem"><a class="link" href="home.html">Home</a></li>
                        <li class="menuitem"><a class="link" href="projects.html">Projects</a></li>
                        <li class="menuitem"><a class="link" href="static/main/resume/Nitin_2024_Resume.pdf">Resume</a></li>
                        <li class="menuitem"> <a class="link" href="https://www.linkedin.com/in/nitin-polavarapu/">LinkedIn</a> </li>
                    </ul>
                    
                </nav>
            </div>

        </nav>
        <main class="Main-Text"> 
            <h1 id="purpose"> This project is for showcasing my projects!</h1>
            <div class="about">
                <div class="personal-photo">
                    <img id="personal-pic" src="static/main/images/piano.jpeg" alt="Piano Image" loading="lazy">
                </div>
                <div class="personal-description">
                    
                    <p> <span> Nitin Polavarapu</span>  The light blinded him. It was dark and he thought he was the only one in the area, but the light shining in his eyes proved him wrong. It came from about 100 feet away and was shining so directly into his eyes he couldn't make out anything about the person holding the light. There was only one thing to do in this situation. He reached into his pocket and pulled out a flashlight of his own that was much stronger than the one currently blinding him. He turned it on and pointed it into the stranger's eyes.</p>
                </div>
            </div>
            
        </main>
        <footer id="bottom-footer"> © Nitin Polavarapu </footer>
        <script src="static/main/js/navbar.js"></script>
    </body>
</html>
