.resume-content {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.item {
    padding: -5%;
}
.institution {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.left {
    flex: 1;
    text-align: left; 
}
  
.right {
    flex: 1; 
    text-align: right; 
    display: flex;
    justify-content: flex-end;
    gap: 2%;
}
  

.position-content {
    display: flex;

    flex-direction: column;
}


.experience-content {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

.skill-content {
    padding-left: 3%;
}