{% extends 'shared/layout.html' %}
<!-- Citation: https://stackoverflow.com/questions/2554149/how-can-i-change-div-content-with-javascript -->
{% block extrajs %}
{% endblock %}
{% block maincontent %}
<div class="Login-structure Login-design" id="signup-container">

    <input class="login-input-structure login-input-design" type="text" id="email" placeholder="email" name="email" title="Email of user"> 
    <input class="login-input-structure login-input-design" type="text" id="password" placeholder="password" name="password" title="Password of user"> 
    <button class="login-button-structure login-button-design" onclick="accountCreation()">Sign up</button>
    <a href="/login" class="signup-button-structure signup-button-design">Log in</a>
</div>
<script src="{{ url_for('static', filename='signup/js/signup.js') }}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}