/* Styling for html page */
#page-html {
    height: 100%;
    width: 100%;
}

/* Styling for body */
#page-body {
    height: 100%;
}

/* Styling for piano section */
.Piano-Project {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Styling for piano */
.piano {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: flex-end;
    width: 50%; 
    height: 50%; 
    border-radius: 5% 5% 0 0;

    padding: 3%;
    margin-bottom: 10%;
    opacity: 100%;
    


}

.piano-style {
    background-color: #636363;
}

/* Styling for text in piano */
.piano-text {
    
    text-align: center;
    text-justify: inter-word;
    font-size: 2vw;
}

/* Structure for text in piano */
.piano-text-structure {
    margin-bottom: 10%;

}

/* Styling for monster image and text container */
.image-and-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    position: absolute;
    width: 55%; 
    height: 50%;
    top: 23%;
    opacity: 0%; /* So my old one image does not appear */
    margin-top: -5%;
    transition: opacity 2s;


}

/* Styling for old-one */
.old-one {
    position: relative;
    
    width: 100%; 
    height: 100%; 
    border-radius: 10% 10% 0 0;

}

/* Styling for text in monster image */
.Old-one-text {
    color:#fff;

    
}

/* Structure of old one text */
.Old-one-text-structure {
    position: absolute;
    top: 10%

}

/* Styling for container that has keys */
.keys {
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    justify-content: center;
    width: 100%; 
    height: 80%; 
    z-index: 2;

}

/* Styling for the text at the top of page */
.poem {
    text-align: center;
    text-justify: inter-word;

    margin-bottom: 10%;

}

/* Styling for both key types */
.white-key, .black-key {
    border-radius: 5% 5% 5% 5%;
    position: relative;
    display: flex;
    justify-content: center;
    
    align-items: flex-end;

    flex-grow: 1;


}

.white-key-style, .black-key-style {
    color: #636363;

}

/* Styling for just white key */
.white-key {
    
    width: 8%; 
    height: 100%; 
    z-index: 0; 




}

.white-key-style {
    border: 0.25rem solid #ccc; 
    background-color: #fff; 

}

/* Styling for just black key */
.black-key {
    
    
    width: 7%;
    height: 56%;
    top: -45%;
    z-index: 1; 
    margin-left: -4%;
    margin-right: -4%;

}

.black-key-style {
    background-color: #000; 

}

/* Styling for letters in keys */
.letter { 
    opacity: 0%;
} 

/* Styling for black key letters */
#black {
    color: #FFF;
}
